.card {
    border-radius:50px ;
    text-align: center;
    height: 300px;
    color: #6A7E8E;
    margin-top: 2rem;
    height: 230px;
}

.card:hover {
    background-color:#0A2353;
    color: white;
}

.cardlist{
    margin-top: 20px;
}

.icons{
    color:#0e918c;
}


.icon-outer {
    margin-top: 20px;
    margin-left: 90px;
    border-style:solid;
    width: 50px;
    border-radius: 30px;
    border-color:#0A2353;
    padding: 3px;
}