/*tr {*/
/*    background-color: lavender;*/
/*    border: 1em solid white;*/
/*    padding: 15px;*/
/*    text-align: left;*/
/*    box-shadow: 6px 3px gainsboro;*/
/*    animation-name: hide;*/
/*    animation-duration: 2s;*/
/*    animation-fill-mode: forwards;*/
/*    animation-play-state: paused;*/
/*}*/

tr {
    top: 733px;
    left: 254px;
    width: 1039px;
    height: 20px;
    background: transparent linear-gradient(180deg, #00000005 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    /*border-radius: 18px;*/
    opacity: 1;
    border: 1px solid white;
    -moz-outline-radius: 20%;
}
td {
    width: 30%;
}
table {
    width: 100%;
    margin-top: 4%;
    border-radius: 1em;
    border: 1px solid white;
}

th {
    width: 1000px;
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }

}

.hide {
    float: top;
}

.statusbtn {
    text-align: left;
    font: normal normal normal 9px/22px Museo Sans;
    letter-spacing: -0.14px;
    color: #2A9D00;
    opacity: 1;
}
