

.nav_head {
    border-color: red;
    border-radius: 30px;
}

.nav {
   display: flex;

   justify-content: space-between;

}

.search {
    display: flex;
    margin-left: 10%;
    width: 20%;


}
.searchbar {
    border-radius: 50px;
    border-color:#E2E2FF ;
    width: 900px;

}

.search_icon {
    padding-top: 9px;
}

.icons {
    display: flex;
    color: #0A2353;
    
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.icon1 {
    padding-left: 20px;
}

