.slide {
    color: aliceblue;
}
.nav-menu {
    border-radius: 2rem;
    width: 85%;
    height: 100%;
    background: #0A2353 0% no-repeat padding-box;
    opacity: 1;
}
.nav-text {

    text-align: center;
    font: normal normal normal 12px/18px Museo Sans;
    letter-spacing: 0px;
    color: #f8f8f8;
    opacity: 1;
    margin-top: 1em;
    padding: 2em;
}

#userIcon {
    size: 2em;
}

.adminIconSpan {
    margin-left: 30%;
    color: #f8f8f8;
    font-size: 100%;

}

hr {
    color: white;
}
/*.nav-menu-items {*/
/*    */
/*}*/
